<launch>
    <!--输出曲线为/Path-->
    <!-- imu eskf uwb话题： -->
    <arg name="imu_odo_topic"  default="/imu_odometry"/>
    <arg name="imu_path_topic"  default="/imu_path"/>
    <arg name="imu_error_topic"  default="/imu_error"/>
    <!-- uwb话题： -->
    <arg name="uwb_odo_topic"  default="/uwb_odometry"/>
    <arg name="uwb_path_topic"  default="/uwb_path"/>
    <arg name="uwb_error_topic"  default="/uwb_error"/>
    <!-- groundture话题： -->
    <arg name="true_odo_topic"  default="/ground_state"/>
    <!-- groundture输出曲线话题： -->
    <arg name="true_path_topic"  default="/ground_path"/>
    <!-- groundture输出均方误差，这个是我毕设要调用的数据，可以不管： -->
    <arg name="true_error_topic"  default="/ground_error"/>
    
    <!-- Launch your node with the specified parameters and namespace -->
    <node pkg="state_path_rviz" type="odom2path" name="imu_odom_to_path" output="screen">
        <param name="odom_topic" type="string" value="$(arg imu_odo_topic)"/>
        <param name="path_topic" type="string" value="$(arg imu_path_topic)"/>
        <param name="error_topic" type="string" value="$(arg imu_error_topic)"/>
    </node>

    <node pkg="state_path_rviz" type="odom2path" name="uwb_odom_to_path" output="screen">
        <param name="odom_topic" type="string" value="$(arg uwb_odo_topic)"/>
        <param name="path_topic" type="string" value="$(arg uwb_path_topic)"/>
        <param name="error_topic" type="string" value="$(arg uwb_error_topic)"/>
    </node>

    <node pkg="state_path_rviz" type="odom2path" name="groundture_odom_to_path" output="screen">
        <param name="odom_topic" type="string" value="$(arg true_odo_topic)"/>
        <param name="path_topic" type="string" value="$(arg true_path_topic)"/>
        <param name="error_topic" type="string" value="$(arg true_error_topic)"/>
    </node>
</launch>
